body
{
  margin: 0;
  padding: 0;
}
h2
{
  color: #1D6258;
}
h3
{
  color: #1D6258;
}
h6
{
  color: white;
}
#page-container {
    background-image: url('../images/vectorwhite.png');
    background-size: cover;
}
#about-us-page-container {
  background-image: url('../images/About-Us.jpg');
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}
#about-us-black {
  background: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
}
#footer-container {
    position: relative;
    text-align: center;
    background-size: cover;
}
#content-wrap {
  /*padding-bottom: 2.5rem;    /* Footer height */*/
  position: relative;
  background-image: url('../images/footer.png');
  background-size: cover;
  height: 330px;
}
#footer {
  background-position: center;
  justify-content: center;
}
#content {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    text-align: center;
    padding-top: 75px;
}
.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  width: 70vw;
  padding-left: 15vw;
  height: 78vh;
}

.flex-container > div {
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
}

.flex-container-social-media {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

#seemore-button {
  display:block;
  width: 115px;
  height: 36px;
  color: white;
  background-color: rgba(0,0,0,0);
  border :2px solid white;
  border-radius: 10%;
  transition: 0.4s;

}
#seemore-button:hover {
  background-color: black;
  border-color: black;
  color: white;
}
.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 4px 2px;
}
#whiteline {
  padding-top: 120px;
  height: 400px;
}
#hishot-logo {
  width: 319.75px;
  height: 102px;
  padding-top: 150px;
}