* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    height: 2000px;
}

nav.navigasi {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: darkcyan;
    z-index: 2;
}

.logo {
    width: 40%;
}

.navigasi .navbar-nav .nav-link {
    color: whitesmoke;

}

.navbar-nav {
    margin-right: 2em;
}


nav ul li {
    margin: 5px;
}

nav ul li a {
    font-size: 15px;
}

.navigasi .navbar-nav .nav-item a:hover,
.actived {
    color: whitesmoke;
}

.navigasi .navbar-nav .nav-item a:hover:not(.actived) {
    border-bottom: 2px solid wheat;
    color: black;
}

.actived {
    color: whitesmoke;
    border-radius: 5%;
    border-bottom: 2px solid wheat;
}


.left-posision {
    position: absolute;
    left: 12em;
}

.right-posision {
    position: absolute;
    right: 12em;
}

.cirle {
    border-radius: 50%;
    border: 1px solid white;
    padding: 15px;
}

.caption {
    position: absolute;
    top: 22.6em;
    left: 32em;
}

.btn-outline-secondary {
    width: 150px;
    padding: 10px;
    display: inline-block;
    color: whitesmoke;
}

.carousel-indicators {
    position: absolute;
    bottom: 4em;
    z-index: 1;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: darkcyan;
}


@media only screen and (max-width: 900px) {
    .nav-item {
        width: 100px;
    }

    .left-posision {
        position: absolute;
        left: 9em;
    }

    .right-posision {
        position: absolute;
        right: 9em;
    }

    .cirle {
        border-radius: 50%;
        border: 1px solid white;
        padding: 5px;
        width: 30px;
        height: 30px;
    }


    .caption {
        position: absolute;
        top: 16em;
        left: 22.9em;

    }

    .btn-outline-secondary {
        width: 110px;
        padding: 5px;
        display: inline-block;
        color: whitesmoke;
        font-size: 20px;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 35px;
    }

    .carousel-indicators li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 18px;
        height: 18px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
        border-radius: 50%;
    }

}

@media only screen and (max-width: 700px) {
    .nav-item {
        width: 100px;
    }

    .left-posision {
        position: absolute;
        left: 7em;
    }

    .right-posision {
        position: absolute;
        right: 7em;
    }

    .cirle {
        border-radius: 50%;
        border: 1px solid white;
        padding: 5px;
        width: 25px;
        height: 25px;
    }


    .caption {
        position: absolute;
        top: 10.8em;
        left: 15.3em;

    }

    .btn-outline-secondary {
        width: 85px;
        padding: 5px;
        display: inline-block;
        color: whitesmoke;
        font-size: 17px;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 15px;
    }

    .carousel-indicators li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 15px;
        height: 15px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
        border-radius: 50%;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
    .nav-item {
        width: 100px;
    }

    .left-posision {
        position: absolute;
        left: 5em;
    }

    .right-posision {
        position: absolute;
        right: 5em;
    }

    .cirle {
        border-radius: 50%;
        border: 1px solid white;
        padding: 1px;
    }


    .caption {
        position: absolute;
        top: 6em;
        left: 8.8em;

    }

    .btn-outline-secondary {
        width: 50px;
        padding: 1px;
        display: inline-block;
        color: whitesmoke;
        font-size: 10px;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 0;
    }

    .carousel-indicators li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 10px;
        height: 10px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
        border-radius: 50%;
    }
}